.HJ_button_Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--dark-15);
    padding: 18px 24px;
    text-decoration: none;
    transition: .3s;
    width: max-content;
}


@media screen and (max-width: 992px) {

    .HJ_button_Contact{
        gap: 4px;
        border-radius: 6px;
        padding: 14px 20px;
    }

}